seaborn==0.11.1
matplotlib==3.3.4
pingouin==0.4.0
PyDriller==1.15.2
scipy==1.7.1
tqdm==4.43.0
more_itertools==8.7.0
nltk==3.6.2
spacy==3.0.6
apyori==1.1.2
pandas==1.0.3
numpy==1.20.1
xgboost==1.4.2
GitPython==3.1.24
scikit_learn==0.24.2
